{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-lg-6">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li  {% if message.tags %}
                                            class="{{ message.tags }}" {% endif %}> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-lg-6">
                            <div class="form-floating">
                                <input class="form-control form-control-sm rounded-5 px-5" type="text" name="first_name"
                                       maxlength="150"
                                       id="id_first_name" placeholder="First Name">
                                <label class="px-5" for="id_first_name">First Name</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input class="form-control form-control-sm rounded-5 px-5" type="text" name="last_name"
                                       maxlength="150" id="id_last_name" placeholder="Last Name">
                                <label class="px-5" for="id_last_name">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <input class="form-control form-control-sm rounded-5 px-5" type="text" name="username"
                                       maxlength="150" required="" id="id_username" placeholder="Username">
                                <label class="px-5" for="id_username">Username</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-lg-6">
                            <div class="form-floating">
                                <input class="form-control form-control-sm rounded-5 px-5" type="password"
                                       name="password1" autocomplete="new-password" required=""
                                       id="id_password1" placeholder="Password">
                                <label class="px-5" for="id_password1">Password</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input class="form-control form-control-sm rounded-5 px-5" type="password"
                                       name="password2"
                                       autocomplete="new-password" required=""
                                       id="id_password2" placeholder="Confirm Password">
                                <label class="px-5" for="id_password2">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary text-white rounded-5 px-5"
                                    style="font-style: italic;">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <img class="img-fluid w-100"
                     src="{% static 'images/man-supplying-ingredients-woman-making-drink.jpg' %}"
                     alt=""/>
            </div>
        </div>
    </div>
{% endblock %}