{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}
{% block content %}
    <div class="container checkout-form">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-4">
                    <div class="container h-100 d-flex flex-column">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-primary" style="font-style: italic;">Shipping Information</h5>
                            </div>
                        </div>
                        <div class="row flex-grow-1">
                            <div class="col px-3 py-3 rounded-5 d-flex align-items-end"
                                 style="background-color: rgba(83, 124, 229, 255);">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control px-4 my-3 rounded-5" type="text" name="full_name"
                                                   maxlength="255" required="" id="id_full_name"
                                                   placeholder="Full Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <input class="form-control px-4 mb-3 rounded-5" type="text" name="address"
                                                   maxlength="255" required="" id="id_address"
                                                   placeholder="Address">
                                        </div>
                                        <div class="col-4">
                                            <input class="form-control px-4 mb-3 rounded-5" type="text"
                                                   placeholder="City" name="city" maxlength="255" required=""
                                                   id="id_city">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control px-4 mb-3 rounded-5" type="text"
                                                   placeholder="Phone Number" name="phone_number" maxlength="255"
                                                   required="" id="id_phone_number">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                {% if shipping_information_form_errors %}
                                                    {{ shipping_information_form_errors }}
                                                {% endif %}
                                                {% if payment_details_form_errors %}
                                                    {{ payment_details_form_errors }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-primary" style="font-style: italic;">Payment Details</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col px-3 py-3 rounded-5" style="background-color: rgba(83, 124, 229, 255);">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-check ps-0 mt-3">
                                                            <label class="form-check-label bg-white px-5 rounded-5 w-100"
                                                                   for="credit-card-payment">
                                                                <input
                                                                        class="form-check-input" type="radio" checked
                                                                        id="credit-card-payment" name="online_payment"
                                                                        value="True">
                                                                Credit Card Payment
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input class="form-control px-4 my-3 rounded-5 credit-card-details"
                                                               type="text"
                                                               name="card_holder" maxlength="255" required=""
                                                               id="id_card_holder"
                                                               placeholder="Card Holder's Full Name">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <input class="form-control px-4 mb-3 rounded-5 credit-card-details"
                                                               type="text"
                                                               name="card_number" maxlength="255" required=""
                                                               id="id_card_number"
                                                               placeholder="Card Number">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input class="form-control px-4 mb-3 rounded-5 credit-card-details"
                                                               type="text"
                                                               name="card_code" maxlength="255" required=""
                                                               id="id_card_code"
                                                               placeholder="CVC">
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control px-4 mb-3 rounded-5 credit-card-details"
                                                               type="text"
                                                               name="expiry_date" maxlength="255" required=""
                                                               id="id_expiry_date"
                                                               placeholder="MM/YY">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-check ps-0 mt-3">
                                                            <label class="form-check-label bg-white px-5 rounded-5 w-100"
                                                                   for="payment-on-delivery">
                                                                <input class="form-check-input" type="radio"
                                                                       id="payment-on-delivery" name="online_payment"
                                                                       value="False">
                                                                Payment on Delivery
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4"></div>
                <div class="col-8">
                    <button type="submit" class="btn btn-primary px-5 rounded-5 mx-1">Confirm</button>
                    <a href="{% url 'orders:shopping_cart' %}"
                       class="btn btn-secondary px-5 rounded-5 text-primary mx-1">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}